DATABASE_URL="postgres://drop:drop@127.0.0.1:5432/drop"

GIANT_BOMB_API_KEY=""

# Optional, IGDB client information
IGDB_CLIENT_ID=""
IGDB_CLIENT_SECRET=""

EXTERNAL_URL="http://localhost:3000"

NUXT_PORT=4000
